/node_modules
/public/assets
/public/css
/public/js
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
.idea
/public/fonts
/storage/debugbar
/public/bundle.js